body { font-size: 18px; }
h1 { text-align: center; }
.css-table {
	margin: auto;
	margin-top: 32px;
	border-collapse: collapse;
	width: 95%;
}

.css-table2 {
	margin: auto;
	margin-top: 32px;
	border-collapse: collapse;
	width: 60%;
	table-layout: fixed;
}

.css-table td, .css-table th, .css-table2 td, .css-table2 th {
	border: 1px solid #ddd;
	padding: 3px;
	text-align: center;
}

.css-table tr:hover {background-color: #ddd;}

.css-table th, .css-table2 th {
	padding-top: 2px;
	padding-bottom: 2px;
	background-color: #4CAF50;
	color: white;
}
.css-table2 > *:first-child:not(thead) td:first-child {
  font-weight: bold;
}
.green { background: #32CD32; }
.yellow { background: #FFD700; }
.red { background: #FF6347; }